* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-page: #0B090D;
    --grid-gap: 0.75rem;
    --grid-margin: 1.5rem;
    --text-color: #dddddd;

    --h1-size: 1.75rem;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: var(--bg-page) linear-gradient(to bottom, #1D0738ff 25%, #1D073800 50%) fixed;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 var(--grid-margin);
}

.logo-icon {
    /* background-color: #1D0738; */
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 1.75rem;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #1D0738ff 90%, #1D073800);

    & a img {
        max-width: 32px;
    }
}

.logo-icon-logo {
    width: 6.5rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    background-color: #c8c8c8;
    border-radius: 6rem;
    color: #0B090D;
    line-height: 1rem;
    font-size: .7rem;
    max-height: 42px;

    & img {
        max-width: 42px;
    }
}

img {
    max-width: 100px;
}

.menu {
    & ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: end;
    }

    & a {
        padding: .75rem;
        display: inline-block;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #E63DC0;
        }
    }
}

h1 {
    font-size: var(--h1-size);
    font-weight: 900;
    line-height: 1;
}

.hero {
    text-align: center;
}

.hero-title-upper {
    text-transform: uppercase;
    /* color: transparent;
    -webkit-text-stroke: 2px var(--text-color); */

    color: #1D0738;
    text-shadow: 2px 2px var(--text-color), -2px 2px var(--text-color), 2px -2px var(--text-color), -2px -2px var(--text-color);
    margin-top: 2px;
    display: inline-block;
}