* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-page: #0B090D;
    --grid-gap: 0.75rem;
    --grid-margin: 1.5rem;
    --text-color: #dddddd;
    --text-size: .75rem;
    --primary-color: #EE3231;

    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1.1rem;

    --button-padding-y: 1rem;
    --button-padding-x: 2.25rem;
    --button-font-size: 1rem;

    --section-distance-top: 4.5rem;
    --section-distance-gap: 3.75rem;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to bottom, rgba(29, 7, 56, .95) 25%, hsla(0, 0%, 0%, 0.3) 70%) fixed,
    url(/assets/img/bg-gradient-mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    /* margin: 0 var(--grid-margin); */
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin);
}

.header {
    z-index: 9;
}

.logo-icon {
    /* background-color: #1D0738; */
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 1.25rem;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #1D0738ff 90%, #1D073800);

    & a img {
        max-width: 30px;
    }
}

.logo-icon-logo {
    width: 6.2rem;
    display: flex;
    align-items: center;
    gap: .55rem;
    background-color: #ffffff;
    border-radius: 6rem;
    color: #0B090D;
    line-height: 1rem;
    font-size: .7rem;
    max-height: 36px;

    & img {
        max-width: 36px;
    }
}

.menu {
    & ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: end;
    }

    & a {
        padding: .75rem;
        display: inline-block;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #E63DC0;
        }
    }
}

h1 {
    font-size: var(--h1-size);
    font-weight: 900;
    line-height: 1;
    text-wrap: balance;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.hero-title-upper {
    text-transform: uppercase;
    letter-spacing: .2rem;
    /* color: transparent;
    -webkit-text-stroke: 2px var(--text-color); */

    color: #1D0738;
    text-shadow: 2px 2px var(--text-color), -2px 2px var(--text-color), 2px -2px var(--text-color), -2px -2px var(--text-color);
    margin-top: .5rem;
    display: inline-block;
    font-style: italic;

    display: block;
}

.btn {
    display: inline-block;
    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: 10rem;
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: var(--button-font-size);
}

/* .hero-cta {

} */

main > * {
    margin-top: var(--section-distance-top);
}

.h2 {
    text-align: center;
    font-weight: 900;
    font-size: var(--h2-size);
}

.title-thin {
    font-weight: 200;
    font-style: italic;
    display: block;
}

.cursos, .cursos-lista {
    display: flex;
    flex-direction: column;
    gap: var(--section-distance-gap);
}

.cursos-card {
    text-align: center;

}

.h3 {
    text-align: center;
    font-weight: 900;
    font-size: var(--h3-size);
}

.h4 {
    font-weight: 900;
    font-size: var(--h4-size);
}

p {
    font-size: var(--text-size);
}

.btn-stroke {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.cursos-card-content {
    margin-top: 1rem;

    & p {
        margin: 1.625rem 0;
    }
}

.cursos-card-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: var(--section-distance-gap);
}

.testimonials-carroussel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
    padding-right: var(--grid-gap);

    scroll-snap-type: x mandatory;

    & img {
        margin-left: var(--grid-gap);
        width: calc(100% - var(--grid-margin)*2);
        max-width: 25rem;
        flex-grow: 0;
        flex-shrink: 0;

        scroll-snap-align: center;
    }
}

main {
/* Apply this class to the element whose scrollbar you want to style */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--primary-color); /* RE-ADDED */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
   /* NEW: Track Shadow */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-color);
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
/* Firefox fallback (limited styling) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
  }
}

.books, .books-lista {
    display: flex;
    flex-direction: column;
    gap: var(--section-distance-gap);
}

.books-card {
    text-align: center;

    & img {
        max-width: 12rem;
        padding-bottom: 1rem;
    }
}

.books-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.books-card-cta {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.btn-ghost {
    color: var(--primary-color);
    border: none;
    background-color: transparent;
}

.books-card-price {
    font-size: 2rem;
    font-weight: 900;
}

.news {
    background: linear-gradient(to bottom, rgba(238, 49, 49, 0.7), rgba(238, 49, 49, 0.7)),
    url(/assets/img/bg-news-mobile.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: var(--grid-margin);


    & img {
        max-width: 2.5rem;
    }

    & .news-seta {
            max-width: 3.5rem;
        }
}

.news-content {
    display: flex;
    gap: 1rem;
    align-items: center;

    & .btn {
        margin-left: auto;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    top: 0;
}

.books-others {
    display: flex;
    flex-direction: column;
    gap: var(--section-distance-gap);
    max-width: 100%;
}

.books-others-wrapper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem; 
    scroll-snap-type: x mandatory;
}

.books-others-card {
    margin-left: var(--grid-gap);
    max-width: calc(100% - (var(--grid-margin)*1));
    flex-grow: 0;
    flex-shrink: 0;
    scroll-snap-align: center;

    display: flex;
    gap: var(--grid-gap);

    & img {
        max-width: 33%;
    }
}

.books-others-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    text-align: left;

    & .btn {
        margin-top: auto;
        align-self: start;
    }
}

.footer {
    background-color: #070608;
    padding-top: 3rem;
    margin-top: 1rem;
    padding-bottom: 1rem;

    & .container {
        display: flex;
        flex-direction: column;
        gap: var(--grid-margin);
        align-items: center;
    }

    & p {
        text-align: center;
    }
}

.social-links {
    display: flex;
    list-style-type: none;
    justify-content: start;
    gap: 4rem;

    margin-top: 1rem;
    margin-bottom: 2.5rem;

    & img {
        max-width: 2.25rem;
    }
}

.sm-hide {
    display: none;
}

.five-stars {
    display: none;
}

.cursos-card-img {
    max-width: 90%;
    border-radius: .75rem;
    box-shadow: 0 .6rem 1.5rem rgba(0,0,0,0.5);
}

@media screen and (width < 50.625em) {
    .sm-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1;
        overflow: hidden;
        white-space: nowrap;
        border: 0;
        top: 0;
    }

    .news-whats {
        position: static;
        width: 2.5rem;
    }

    .news-telegram {
        position: static;
        width: 2.5rem;
    }
}

@media screen and (width >= 50.625em) {
    :root {
        --h1-size: 3.25rem;
        --h2-size: 2.25rem;
        --h3-size: 1.75rem;
        --h4-size: 1.5rem;
        --button-font-size: 1.25rem;

        --grid-gap: 1.25rem;
        --grid-margin: 2rem;
    }

    .md-hide {
        display: none;
    }

    .md-show {
        display: revert;
    }

    .header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-image: linear-gradient(to bottom, #1D0738ff 90%, #1D073800);
    }

    .logo-icon-logo {
        width: 7.2rem;
        display: flex;
        align-items: center;
        gap: .75rem;
        background-color: #ffffff;
        border-radius: 6rem;
        color: #0B090D;
        line-height: 1.1rem;
        font-size: .7rem;
        max-height: 46px;

        margin: auto;

        & img {
            max-width: 46px;
        }
    }

    .menu {
        margin-top: 1.5rem;
    }

    .menu ul {
        flex-direction: row;
        justify-content: center;
    }

    .hero {
        gap: 4.5rem;
    }

    .btn {
        font-size: var(--button-font-size);
    }

    .five-stars {
        display: revert;
        max-width: 4.5em;
    }

    .cursos-wrapper {
        display: flex;
        align-items: center;
        justify-content:space-around;
    }

    .cursos-card {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--grid-gap);
        text-align: left;
    }

    .cursos-card-img {
        grid-column: 1 / 4;
        width: 100%;
    }

    .cursos-card-content {
        grid-column: 4 / -1;

        & .h3 {
            text-align: inherit;
        }
    }

    .cursos-card-cta {
        flex-direction: row;
        justify-content: end;
    }

    .testimonials-carroussel img {
        max-width: 38%;
    }

    .testimonials-carroussel-wrapper {
        position: relative;
  
        &::after, &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 1rem;
            width: 7.5rem;
            pointer-events: none;
            z-index: 2;
        }

        &::before {
            left: 0;
            background-image: linear-gradient(to right, var(--bg-page), #0000);
        }

        &::after {
            right: 0;
            background-image: linear-gradient(to left, var(--bg-page), #0000);
        }
    }

    .books-card {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--grid-gap);
        text-align: left;
    }

    .books-card-cta {
        flex-direction: row;
    }

    .books-card-img {
        grid-column: 1 / 3;
        width: 100%;
    }

    .books-card-content {
        grid-column: 3 / -1;

        text-align: left;

        & .h3 {
            text-align: inherit;
        }
    }

    .books-card:nth-child(odd) .books-card-img {
        grid-column: 7 / -1;
        order: 2;
    }

    .books-card:nth-child(odd) .books-card-content {
        grid-column: 1 / 7;
        text-align: right;
    }

    .books-card:nth-child(odd) .books-card-cta {
        justify-content: end;
    }

    .news {
        background: linear-gradient(to bottom, rgba(238, 49, 49, 0.7), rgba(238, 49, 49, 0.7)),
        url(/assets/img/bg-news-pc.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .news-content {
        gap: .7rem;
        align-items: center;
    }

    .news-whats {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        & span {
            margin-left: .5rem;
        }
    }

    .news-telegram {
        display: flex;
        align-items: center;
        margin-left: 3rem;

        & span {
            margin-left: .5rem;
        }
    }

    .books-others-card {
        align-items: start;
        padding-right: var(--grid-margin);
    }

    .books-others-card-img {
        width: auto;
    }

    .books-others-card-description {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    p {
        line-height: 1.4;
    }

    .footer .container {
        width: 36.25%;
        text-wrap: balance;
        display: block;
        
        & p {
            font-size: 1rem;
            text-align: left;
            margin: 2rem 0;
        }

        & .logo-icon-logo {
            padding: 0;
            margin: 0 1.5rem 0 0;
        }
    }

    .btn-ghost {
        margin-bottom: 2.5rem;
    }

    .btn-center{
        margin: -2.5rem auto 0 ;
    }
}

@media screen and (width > 90em) {
    :root {
        --h1-size: 4rem;
        --h2-size: 2.5rem;
        --h3-size: 2rem;
        --h4-size: 1.8rem;
        --button-font-size: 1.25rem;

        --grid-gap: 1.25rem;
        --grid-margin: 4rem;

        --section-distance-top: 9rem;
        --section-distance-gap: 7.75rem;
    }

    body {
        background: linear-gradient(to bottom, rgba(29, 7, 56, .95) 25%, hsla(0, 0%, 0%, 0.3) 70%) fixed,
        url(/assets/img/bg-gradient-pc.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    p {
        font-size: 1rem;
    }

    .header {
        padding: 3rem 0;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .menu {
        margin: 0;
    }

    .logo-icon-logo {
        width: 8rem;
        display: flex;
        align-items: center;
        gap: .85rem;
        background-color: #ffffff;
        border-radius: 6rem;
        color: #0B090D;
        line-height: 1.25rem;
        font-size: .8rem;
        max-height: 52px;

        margin: 0;

        & img {
            max-width: 52px;
        }
    }

    .five-stars {
        max-width: 6.5rem;
    }

    .cursos-card {
        grid-template-columns: repeat(12, 1fr);
    }

    .cursos-card-img {
        grid-column: 2/6;
    }

    .cursos-card-content {
        grid-column: 6/-2;
    }

    .testimonials-carroussel img {
        max-width: 420px;
    }

    .books-card {
        grid-template-columns: repeat(12, 1fr);
    }

    .books-card-img {
        grid-column: 2/4;
        width: 100%;
    }

    .books-card-content {
        grid-column: 4/-2;
    }

    .books-card:nth-child(odd) {
        .books-card-img {
            grid-column: 10/-1;
            width: 100%;
        }
        
        .books-card-content {
            grid-column: 2/10;
        }
    }

    .news {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &>* {
            grid-column: 2/-2;
        }

        p {
            text-transform: uppercase;
            font-size: .75rem;
            margin-left: 1.2rem;
        }
    }

    .books-others-card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        & img {
            max-width: 100%;
        }
    }

    .btn-ghost {
        margin-bottom: 3rem;
    }

    .btn-center{
        margin: -6rem auto 0 ;
    }

    .books-others-card-img {
        grid-column: 2/4;
        width: 100%;
    }

    .books-others-card-content {
        grid-column: 4/-2;
    }

    .custom-scrollbar {
        scrollbar-width: .5rem;
    }

    .footer .container {
        width: 32%;

        & p {
            font-size: 1rem;
        }

        & .social-links {
            justify-content: start;
            gap: 2.5rem;
            & img {
                max-width: 2.25rem;
            }
        }
    }

    @keyframes scrollLoop {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc((-440px) * 6));
        }
    }

    .js-enabled.testimonials-carroussel {
        overflow: hidden;
        animation: scrollLoop 20s linear infinite;
        width: max-content;

        & img {
            margin-left: var(--grid-gap);
        }

        &:hover {
            animation-play-state: paused;
        }
    }

    .testimonials {
        overflow: hidden;
    }
}