* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-page: #0B090D;
    --grid-gap: 0.75rem;
    --grid-margin: 1.5rem;
    --text-color: #dddddd;
    --text-size: .75rem;
    --primary-color: #EE3231;

    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;

    --button-padding-y: 1rem;
    --button-padding-x: 2.25rem;

    --section-distance-top: 4.5rem;
    --section-distance-gap: 3.75rem;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to bottom, rgba(29, 7, 56, .95) 25%, hsla(0, 0%, 0%, 0.3) 70%) fixed,
    url(/assets/img/bg-gradient-mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 var(--grid-margin);
}

.logo-icon {
    /* background-color: #1D0738; */
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 1.75rem;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #1D0738ff 90%, #1D073800);

    & a img {
        max-width: 32px;
    }
}

.logo-icon-logo {
    width: 6.5rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    background-color: #c8c8c8;
    border-radius: 6rem;
    color: #0B090D;
    line-height: 1rem;
    font-size: .7rem;
    max-height: 42px;

    & img {
        max-width: 42px;
    }
}

.menu {
    & ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: end;
    }

    & a {
        padding: .75rem;
        display: inline-block;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #E63DC0;
        }
    }
}

h1 {
    font-size: var(--h1-size);
    font-weight: 900;
    line-height: 1;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.hero-title-upper {
    text-transform: uppercase;
    letter-spacing: .2rem;
    /* color: transparent;
    -webkit-text-stroke: 2px var(--text-color); */

    color: #1D0738;
    text-shadow: 2px 2px var(--text-color), -2px 2px var(--text-color), 2px -2px var(--text-color), -2px -2px var(--text-color);
    margin-top: .5rem;
    display: inline-block;
    font-style: italic;
}

.btn {
    display: inline-block;
    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: 10rem;
    background-color: var(--primary-color);
    font-weight: 600;
}

/* .hero-cta {

} */

main > * {
    margin-top: var(--section-distance-top);
}

.h2 {
    text-align: center;
    font-weight: 900;
    font-size: var(--h2-size);
}

.title-thin {
    font-weight: 200;
    font-style: italic;
    display: block;
}

.cursos, .cursos-lista {
    display: flex;
    flex-direction: column;
    gap: var(--section-distance-gap);
}

.cursos-card {
    text-align: center;

}

.h3 {
    text-align: center;
    font-weight: 900;
    font-size: var(--h3-size);
}

p {
    font-size: var(--text-size);
}

.btn-stroke {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.cursos-card-content {
    margin-top: 1rem;

    & p {
        margin: 1.625rem 0;
    }
}

.cursos-card-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: var(--section-distance-gap);
}

.testimonials-carroussel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
    padding-right: var(--grid-gap);

    scroll-snap-type: x mandatory;

    & img {
        margin-left: var(--grid-gap);
        width: calc(100vw - var(--grid-margin)*2);
        max-width: 25rem;
        flex-grow: 0;
        flex-shrink: 0;

        scroll-snap-align: center;
    }
}

main {
/* Apply this class to the element whose scrollbar you want to style */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--primary-color); /* RE-ADDED */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
   /* NEW: Track Shadow */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-color);
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
/* Firefox fallback (limited styling) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
  }
}

.books, .books-lista {
    display: flex;
    flex-direction: column;
    gap: var(--section-distance-gap);
}

.books-card {
    text-align: center;

    & img {
        max-width: 12.5rem;
        padding-bottom: 1rem;
    }
}

.books-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.books-card-cta {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.btn-ghost {
    color: var(--primary-color);
    border: none;
    background-color: transparent;
}

.books-card-price {
    font-size: 2rem;
    font-weight: 900;
}

.news {
    background: linear-gradient(to bottom, rgba(238, 49, 49, 0.75), rgba(238, 49, 49, 0.75)),
    url(/assets/img/bg-news-mobile.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: var(--grid-margin);


    & img {
        max-width: 2.5rem;
    }

    & .news-seta {
            max-width: 3.5rem;
            display: none;
        }
}

.news-content {
    display: flex;
    gap: 1rem;

    & .btn {
        margin-left: auto;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.news-whats {
    position: static;
    width: 2.5rem;
}